@model website_negaheno.Areas.Admin.ViewModels.GalleryDetailViewModel
@{
    Layout = null;
}
<div class="col-xs-12 nopadding">
    <div class="panel-group" id="accordion">

        <!-- Panel General-->
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h4 class="panel-title ">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseGeneral">
                        <i class="glyphicon glyphicon-picture"></i> موضوع نمایشگاه<i class="indicator glyphicon glyphicon-chevron-up  pull-left"></i>
                    </a>
                </h4>
            </div>
            <div id="collapseGeneral" class="panel-collapse collapse in">
                <div class="panel-body text-right">
                    <div class="col-xs-12 nopadding">
                        @Model.fa_title
                        <br />
                        @Model.description
                    </div>
                    
                </div>
            </div>
        </div>

        <!-- Panel Time-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTime">
                        <i class="glyphicon glyphicon-calendar"></i> زمان بازدید <i class="indicator glyphicon glyphicon-chevron-down  pull-left"></i>
                    </a>
                </h4>
            </div>
            <div id="collapseTime" class="panel-collapse collapse">
                <div class="panel-body text-right">
                    <div class="col-xs-12 nopadding">
                        تاریخ بازدید: از @Model.visit_from تا @Model.visit_to
                        <br /><br />
                        ساعات بازدید: @Model.openning_hours
                    </div>
                </div>
            </div>
        </div>

        <!-- Panel Description-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseDescription">
                        <i class="glyphicon glyphicon-info-sign"></i> توضیحات<i class="indicator glyphicon glyphicon-chevron-down  pull-left"></i>
                    </a>
                </h4>
            </div>
            <div id="collapseDescription" class="panel-collapse collapse">
                <div class="panel-body text-right">
                    <div class="col-xs-12 nopadding">
                        @Model.description
                    </div>
                </div>
            </div>
        </div>

     
    </div>
</div>
