@model website_negaheno.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutDashboard.cshtml";
}

@using (Ajax.BeginForm("ChangePassword", "Manage", new { area="Account"}
                    , new AjaxOptions
                    {
                        HttpMethod = "Post",
                        OnSuccess = "Success_ProfileChange"
                    }))
{

    @Html.AntiForgeryToken()
    <div class="col-xs-5 col-xs-offset-2 topbuffer-20">
        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="profile-form">
            <div class="col-xs-12 topbuffer-20">
                <div class="col-xs-4 nopadding topbuffer-10">
                    @Html.LabelFor(model => model.OldPassword, new { @class = "div_lable" })
                </div>
                <div class="col-xs-8 nopadding">
                    @Html.PasswordFor(u => u.OldPassword, new { @class = "form-control", @placeholder = "Current Password" })
                </div>
            </div>

            <div class="col-xs-12 topbuffer-20">
                <div class="col-xs-4 nopadding topbuffer-10">
                    @Html.LabelFor(model => model.NewPassword, new { @class = "div_lable" })
                </div>
                <div class="col-xs-8 nopadding">
                    @Html.PasswordFor(u => u.NewPassword, new { @class = "form-control", @placeholder = "New Password" })
                </div>
            </div>

            <div class="col-xs-12 topbuffer-20">
                <div class="col-xs-4 nopadding topbuffer-10">
                    @Html.LabelFor(model => model.ConfirmPassword, new { @class = "div_lable" })
                </div>
                <div class="col-xs-8 nopadding">
                    @Html.PasswordFor(u => u.ConfirmPassword, new { @class = "form-control", @placeholder = "New Password" })
                </div>
            </div>

            <div class="col-xs-6 col-xs-offset-4 topbuffer-20">
                <input type="submit" class="btn btn-danger" value="Submit" />
            </div>
        </div>
    </div>
}

