@model website_negaheno.Areas.Admin.ViewModels.GalleryImagesViewModel
@{
    Layout = null;
}



@using (Ajax.BeginForm("", "", null, new AjaxOptions
{
    HttpMethod = "Post"
    ,
    InsertionMode = InsertionMode.ReplaceWith

}, new { enctype = "multipart/form-data" }))
{
    <div class="modal-header modal-header-add rtl-control">
        <button type="button" class="close pull-left" data-dismiss="modal" aria-hidden="true"><span aria-hidden="true">&times;</span></button>
        @Model.GalleryName
    </div>
    <div class="modal-body">

        @Html.HiddenFor(model => model.image_path, new { id = "image_path" })
        @Html.TextBoxFor(model => model.image, new { id = "inputimages", name = "inputimages[]", type = "file", @class = "file-loading" })

        <div id="errorBlock" class="help-block"></div>
        @Html.HiddenFor(model => model.GalleryID, new { id = "hd_gallery_id" })
        @Html.HiddenFor(model => model.GalleryName, new { id = "hd_gallery_name" })
        @Html.HiddenFor(model => model.filter_page.page, new { id = "hd_page_index"})
        @Html.HiddenFor(model => model.filter_page.filter, new { id = "hd_filter" })
    </div>

}

