@model website_negaheno.Areas.Admin.ViewModels.GalleryDetailViewModel
@{
    Layout = null;
}

<link href="~/Content/horizontalAccordion.css" rel="stylesheet" />

<div class="modal-header modal-header-info rtl-control">
    <button type="button" class="close pull-left" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    @Model.fa_title
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-12">

            <ul class="accordion">
                <li class="tabs">
                    <div class="social-links calendar-icon">
                        <a href="#"></a>
                    </div>
                    <div class="paragraph">
                        <h3>Visiting Days</h3>
                        <p>@Model.visit_from<br />@Model.visit_to</p>
                    </div>
                </li>
                <li class="tabs">
                    <div class="social-links time-icon">
                        <a href="#"></a>
                    </div>
                    <div class="paragraph">
                        <h3>Opening Houres</h3>
                        <p>@Model.openning_hours</p>
                    </div>
                </li>
                <li class="tabs">
                    <div class="social-links info-icon">
                        <a href="#"></a>
                    </div>
                    <div class="paragraph">
                        <h3>Descrption</h3>
                        <p>
                            <span class="rtl-control">@Model.fa_title</span>
                            <br />@Model.eng_title<br />
                            <span class="rtl-control">@Model.description</span>
                        </p>
                    </div>
                </li>
                <li class="tabs">
                    <div class="social-links poster-icon">
                        <a href="#"></a>
                    </div>
                    <div class="paragraph">
                            <img src="@Model.poster_path" alt="~/images/empty.gif" style="width:200px; height:200px;" />
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
