@model List<ArtGalleryViewModel>
@{
    Layout = null;
}
<div class="col-sm-12">
    <div class="tab-wrap">
        <div class="media">
            <div class="parrent pull-left">
                <ul class="nav nav-tabs nav-stacked">
                    <li class="active"><a href="#tab1" data-toggle="tab" class="analistic-01">برنامه هفته جاری</a></li>
                    <li><a href="#tab2" data-toggle="tab" class="analistic-02">برنامه هفته آینده</a></li>
                    <li class=""><a href="#tab3" data-toggle="tab" class="tehnical">برنامه دو هفته بعدی</a></li>
                    <li class=""><a href="#tab4" data-toggle="tab" class="tehnical">برنامه سه هفته بعدی</a></li>
                </ul>
            </div>
            <div class="parrent media-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1">
                        <div class="media">
                            <div class="pull-left">
                                <img class="img-responsive" src='@String.Concat("~/Upload/gallery_",@Model[0].GalleryId,"/poster.jpg")'>
                            </div>
                            <div class="media-body">
                                <h2>@Model[0].fa_title</h2>
                                <h3>
                                    روزهای بازدید: @Model[0].fromDate تا @Model[0].toDate
                                    <br />
                                    ساعات بازدید: @Model[0].fromHour تا @Model[0].toHour
                                </h3>
                                <p>@Model[0].description</p>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="tab2">
                        <div class="media">
                            <div class="pull-left">
                                <img class="img-responsive" src='@String.Concat("~/Upload/gallery_",@Model[1].GalleryId,"/poster.jpg")'>
                            </div>
                            <div class="media-body">
                                <h2>@Model[1].fa_title</h2>
                                <h3>
                                    روزهای بازدید: @Model[1].fromDate تا @Model[1].toDate
                                    <br />
                                    ساعات بازدید: @Model[1].fromHour تا @Model[1].toHour
                                </h3>
                                <p>@Model[1].description</p>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="tab3">
                        <div class="media">
                            <div class="pull-left">
                                <img class="img-responsive" src='@String.Concat("~/Upload/gallery_",@Model[2].GalleryId,"/poster.jpg")'>
                            </div>
                            <div class="media-body">
                                <h2>@Model[2].fa_title</h2>
                                <h3>
                                    روزهای بازدید: @Model[2].fromDate تا @Model[2].toDate
                                    <br />
                                    ساعات بازدید: @Model[2].fromHour تا @Model[2].toHour
                                </h3>
                                <p>@Model[2].description</p>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="tab4">
                        <div class="media">
                            <div class="pull-left">
                                <img class="img-responsive" src='@String.Concat("~/Upload/gallery_",@Model[3].GalleryId,"/poster.jpg")'>
                            </div>
                            <div class="media-body">
                                <h2>@Model[3].fa_title</h2>
                                <h3>
                                    روزهای بازدید: @Model[3].fromDate تا @Model[3].toDate
                                    <br />
                                    ساعات بازدید: @Model[3].fromHour تا @Model[3].toHour
                                </h3>
                                <p>@Model[3].description</p>
                            </div>
                        </div>
                    </div>

                </div> <!--/.tab-content-->
            </div> <!--/.media-body-->
        </div> <!--/.media-->
    </div><!--/.tab-wrap-->
</div><!--/.col-sm-6-->